.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: #c2c2c2;
}
.input {
  height: 50px;
  width: 40vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
input {
  background: none;
  border: none;
  margin-left: 12px;
  flex: 1;
}
input:focus {
  outline: none;
}
button {
  margin-right: 8px;
  background-color: #c2c2c2;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.app__container {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0px 0px 0px;
  justify-content: flex-end;
}
.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todoItem {
  display: flex;
  align-items: center;
  width: 40vw;
  background-color: white;
  margin: 6px 4px;
}
.todoItem > p {
  flex: 1;
}
.todoItem--done {
  text-decoration: line-through;
}
